.offerSection {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .offerCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    width: 48%;
    height: 350px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .orangeBg {
    background-color: #f97316; /* Orange Background */
    color: white;
  }
  
  .yellowBg {
    background-color: #facc15; /* Yellow Background */
    color: black;
  }
  
  .offerContent {
    flex: 1;
    padding-left: 20px;
  }
  
  .offerContent p {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .offerContent h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .shopNow {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 4px solid;
    transition: color 0.3s;
  }
  
  .shopNow:hover {
    color: #444;
  }
  
  .offerImage {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .offerImage img {
    width: 350px;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Hover Effect */
  .offerImage img:hover {
    transform: scale(1.1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .offerSection {
      flex-direction: column;
    }
  
    .offerCard {
      width: 100%;
      flex-direction: column;
      text-align: center;
      height: auto;
    }
  
    .offerContent {
      padding-left: 0;
    }
  
    .offerImage {
      margin-top: 15px;
    }
  }
  